In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise_distances_argmin_min

In [2]:
cfs = pd.read_excel('cf10000.xlsx', index_col=0)

In [3]:
cfs

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
policy_id,,,,,,,,,,,,,,,,,,,,,
1,-367.365295,514.608774,413.255585,319.555720,226.500096,131.168604,85.914865,38.784532,-10.411359,-52.543479,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
2,-102.841008,-144.565183,-82.502145,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
3,992.323947,798.687669,617.539468,434.993334,265.921529,172.069076,73.950450,-28.867255,-81.248668,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
4,61.039992,41.629916,21.592519,0.866730,-20.613790,-42.921153,-66.133793,-90.337072,-115.623946,-75.959446,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
5,116.388534,89.353763,74.260573,58.798121,42.932719,26.627806,9.843700,-7.462671,-25.338070,-43.833283,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,168.414190,6.578313,-163.583543,-342.902170,-532.281805,-732.705806,-848.272656,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
9997,-68.753737,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
9998,245.460382,126.028944,0.937756,-130.383268,-268.555545,-414.256294,-568.223248,-584.244494,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
9999,232.142850,232.354098,196.737622,164.051261,130.826418,114.665909,99.708969,84.328690,68.479162,52.110543,...,-39.58931,-60.391855,-82.209338,-105.140233,-129.291979,-10.845324,0.0,0.0,0.0,0
10000,-35.788646,-6.336215,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0

In [4]:
kmeans = KMeans(n_clusters=1000, random_state=0).fit(cfs)

In [5]:
kmeans

KMeans(n_clusters=1000, random_state=0)

In [6]:
kmeans.cluster_centers_.shape

(1000, 24)

In [42]:
kmeans.labels_

array([572, 264, 129, ..., 445, 731,  72])

In [8]:
# https://stackoverflow.com/questions/21660937/get-nearest-point-to-centroid-scikit-learn
closest, _ = pairwise_distances_argmin_min(kmeans.cluster_centers_, cfs.to_numpy().copy(order="C"))

In [17]:
closest

array([5730,  285, 4463, 1898, 4508, 3145, 2350, 3955,  950, 9928, 4741,
       5752, 7114, 2519, 8519, 3914, 8057, 7865, 9877, 5865, 7208,  722,
       7486, 5046, 2869, 7157, 3242, 7781, 5344, 4089, 2280, 1487, 5215,
       1929, 8580, 6677, 7892, 3009, 3787, 9024, 9347, 5974, 5569, 6441,
       1433, 3359, 1154,  406, 1138, 2842, 7046, 2416, 7867, 1625, 9017,
       4330, 3823, 7373, 7825, 6787, 6203,  347, 1369, 7517, 7067, 2962,
       3936, 7292,  663, 6050, 3676, 8317, 6287, 2498, 9013, 1395, 7109,
       3820, 4131, 7716, 2028, 4533, 1016, 3930, 5929, 5733, 5810, 1581,
       9070, 6001, 5677, 3298, 5904, 6523,  398,  540, 2073, 3179, 6948,
       3457, 8171, 2449,  681, 4101, 5289, 6640,  244, 9888, 4497, 8043,
        145, 8946, 2658, 3513, 1186, 5292, 5120, 9905, 4201, 2025,   10,
       5012, 8796, 5836, 3111, 2355, 7073, 2173,  552, 5816, 1206, 3454,
       3084, 5330,  758, 7986, 8965, 1508, 5598, 6112, 8188, 8035, 2123,
       7617, 3415, 9069, 5897, 1532, 8459, 3539, 3997, 5499, 2458, 2269,
       6908, 2482, 7653, 1944, 6593,  363, 4858, 5419, 4376, 2675, 4736,
       4659, 4747, 2712, 5281, 8993, 4854,  995, 2933, 9818, 7163, 2453,
       1009, 2695, 3557, 3313, 5960, 7779, 6586, 5279, 9676, 9708, 4544,
       2980, 3270, 5643, 2778, 3189, 1551, 7140, 7447, 5652, 9695, 5430,
       6562,  490, 1680, 6659, 8952,  849, 1375, 9205, 9038, 3662, 1476,
       9981, 6075, 5106, 8294, 1150, 9698,  539, 3380, 2157, 2664,   68,
       2086, 2882, 4196, 9159, 6201, 6958, 9471, 9402, 6657, 4222,  290,
       6069, 6795, 2898, 3017, 8809, 7899, 1876, 5618, 4175, 5824, 2633,
       2354, 6242, 3445, 6479, 4738, 8517, 1025, 2616, 2267, 1851, 1626,
        408, 9192, 9391,  452, 7971, 6285, 3477, 7636, 2647, 2896, 5064,
       4145, 8025, 2233, 9052,  996, 7379, 6568, 3742, 6801, 5140, 4254,
       4473, 2947, 4016, 3829, 6520, 8591, 6850, 2879, 3685, 5700,  279,
       7247,  232, 2986, 3310, 3744, 9311, 2368, 8566, 4365,   32,  608,
       1391,   20, 1780, 6909, 8334, 1723, 4088, 6364, 8994, 7475,  124,
       2479, 2060, 5124,  892, 5877, 8846,  714,  495, 3509, 3376, 3254,
       5065, 4655, 4112, 6569, 3861,  164, 3989, 9359, 6221, 3259, 7192,
        258, 1271, 1311, 4965, 7878, 3863, 3703, 3752, 4188, 5472, 7578,
       4709, 7417, 7822, 7782, 9482, 3201, 2003, 7877, 7405, 4095, 2839,
       5555, 3471, 2512, 4219, 4082, 1958, 3097, 9376, 8718, 7346, 7527,
       3644, 1748, 9478, 7722, 3478, 6926, 6485, 7419, 9941, 9871, 4024,
       1398, 4594, 8489, 3838, 4055, 1023, 9751, 1448, 7793, 4980, 7890,
       9208,  633, 1574, 8313, 4237, 4063, 8704, 8273, 8672, 3312, 1809,
       1758, 1201, 1937, 9032,  605, 5097, 2057, 4554, 3730, 7592,  499,
       1930, 4249, 8322, 9161, 8461, 3168, 4346,  323, 3311, 8899,  339,
       1076, 7978, 1575, 4026, 5655, 7160, 6519, 5263, 3251, 7857, 1378,
        409, 7924, 4114, 5583, 9269, 8948,  273, 3959, 3431,  158, 1540,
       7177, 9352, 4534, 5571, 8586, 7572, 6411, 7990,  538, 2932, 8145,
        235, 6875, 9792, 3903, 3449, 8677, 9719, 3070, 3848, 9337, 5601,
       9491, 3659, 9282, 7374, 8204, 6538, 3249, 2083,  218, 5102, 8406,
       2564,  972, 6690, 7173, 3888,  263, 8830, 2988, 9050, 3420, 2170,
        876, 4720, 3338, 9855, 1738, 2555, 6045, 1832, 6878,  366, 1915,
       2660, 6800, 5542, 3780,   75, 4261, 5465, 6930, 1837, 2215, 2738,
       6358, 4076, 6321, 4611, 8184, 6808, 2050, 5537, 1214, 4050, 3400,
       9322, 5753, 9172, 6846,  878,  355, 2010, 3441, 3461, 2734, 9021,
       7425, 9600, 7321, 6409, 9373,   78, 2917, 3811,  868, 8894,  623,
       9394, 3235, 4360, 2358, 4670, 5182, 3226, 3973, 6897, 8152, 5565,
       1299, 1782,  901, 9388, 1896, 3532, 1945, 3414, 6260, 7438, 5632,
       7919, 2164, 6693, 7265, 2475, 1303, 2163, 8749,  591, 2093, 1486,
       9000, 5617, 6464, 8537, 5785, 4806, 6761, 3199, 9717,  206, 2075,
       2846, 8958, 9319, 1306, 8886, 2205, 1764, 1620, 2978, 7897, 4719,
       3268, 5072, 6270, 2640, 1171, 8542, 2407, 4712, 1239,  567, 4822,
       7081, 4417, 2041, 4998, 7923, 1618, 5171, 8898, 8614,  921, 1474,
       5052, 2904, 2826, 6267, 7706, 2692, 2216,  426, 5045, 5817, 4543,
        114, 4588, 7968, 6277, 2526, 5933, 4185, 5066, 6062,  190,  170,
       8329, 2849, 1821, 1321,  969, 1322, 7902,  760, 3556, 5606, 7566,
        225, 7662, 9277, 4256, 2545, 4844, 9459, 3943, 4411, 7624, 2992,
       3063, 8960, 3550, 8821, 8812, 4202, 4513, 5721, 6851, 5751, 9001,
       1466,  855, 3504, 4706, 9168, 4749, 1822,  773,  175,  617, 1770,
        851, 8603, 1419, 2676,  188, 1651, 8451, 5706, 3781, 7669,  186,
       3130, 9663, 4133, 8067, 2774, 6468, 9100, 5515, 5439, 8631, 3339,
       2938, 4415,   15, 5236, 2279, 3385, 2922, 7698, 1208, 5614, 5969,
       7257, 9327, 3978, 2076, 2823, 5374, 1335, 3873, 4060,  664,  784,
       7459, 5745, 7424, 8037,   69, 9998, 7834, 8825, 7953, 9093, 2614,
       2227,  488, 8368, 7296, 9507, 3344, 8925, 9907, 2881, 8023, 8697,
       4777, 8475, 9178, 1174, 3957, 8059, 5264, 9271, 1094, 5946,  501,
       6504, 7090, 6715, 8490, 1000, 7988, 2682, 1152, 5681, 5112, 6311,
       5335, 2061, 6492, 7121, 2541, 2255, 1916, 7554, 6266, 4630, 9838,
       4442, 1893, 3761, 7959, 1183, 4336, 3186, 2182, 1982, 5364, 7049,
        819, 5742, 2927, 6060,  919, 2963, 9245, 9097, 7131, 1529, 9051,
       8720, 9505, 6010, 6961,  943,  688, 7282, 2383, 5220, 1627, 6819,
       1034, 9821,  808, 4134, 5497, 1056, 2767, 2345, 1517, 1011, 9265,
         44, 3985, 2602, 4295, 6835, 1994, 7450, 5193, 6904, 8060,  410,
       6903, 3285, 1986,  299, 5087, 5727, 3115,  927, 6746, 9993, 2478,
       3728, 9495, 8159, 8762, 2739,  751, 3920, 8133, 7218, 3450, 1036,
       9112, 6837,   22, 6794, 2433, 5156, 4403, 2747, 3519,  187, 4671,
       6442, 6387, 6226, 4999, 3239, 6856, 7371,  700, 7932,  370, 7219,
       8715, 6369, 2599, 2550, 4874, 6231, 8831,  204, 3972, 8137, 6648,
        711, 1484, 2543, 1981, 2802, 6911, 5091, 4425, 8569, 6881, 1002,
        984, 6714,  337, 4793, 2253, 9794, 2299, 5395, 1734, 5853, 5504,
       2698, 6752, 4257, 3732, 5725, 8370, 2467, 5382, 5471, 9465, 8492,
        509, 3503, 2234, 1630, 3534, 9249, 7844, 8262, 2566, 3417, 7623,
       2022, 3062,  882, 7262, 5179, 6919, 1912, 9477, 3686, 5005, 2341,
       4734, 1864, 4334, 3125, 3019, 4489,  958, 4283, 1238, 2781, 2771,
       3899, 6024, 4589, 6650, 5559, 4275,    9, 1831, 2099, 1995, 3490,
       9937, 9140, 6396, 6230, 1854, 5867, 7514, 8415, 5420, 5203, 1785,
       9906, 9781,  587, 2223, 9215, 5185, 5302, 4345, 2914, 6165, 3247,
       6571, 9918, 1088, 6921, 7633,  336, 4325, 6310, 1568, 7614],
      dtype=int64)

In [10]:
closest+1

array([5731,  286, 4464, 1899, 4509, 3146, 2351, 3956,  951, 9929, 4742,
       5753, 7115, 2520, 8520, 3915, 8058, 7866, 9878, 5866, 7209,  723,
       7487, 5047, 2870, 7158, 3243, 7782, 5345, 4090, 2281, 1488, 5216,
       1930, 8581, 6678, 7893, 3010, 3788, 9025, 9348, 5975, 5570, 6442,
       1434, 3360, 1155,  407, 1139, 2843, 7047, 2417, 7868, 1626, 9018,
       4331, 3824, 7374, 7826, 6788, 6204,  348, 1370, 7518, 7068, 2963,
       3937, 7293,  664, 6051, 3677, 8318, 6288, 2499, 9014, 1396, 7110,
       3821, 4132, 7717, 2029, 4534, 1017, 3931, 5930, 5734, 5811, 1582,
       9071, 6002, 5678, 3299, 5905, 6524,  399,  541, 2074, 3180, 6949,
       3458, 8172, 2450,  682, 4102, 5290, 6641,  245, 9889, 4498, 8044,
        146, 8947, 2659, 3514, 1187, 5293, 5121, 9906, 4202, 2026,   11,
       5013, 8797, 5837, 3112, 2356, 7074, 2174,  553, 5817, 1207, 3455,
       3085, 5331,  759, 7987, 8966, 1509, 5599, 6113, 8189, 8036, 2124,
       7618, 3416, 9070, 5898, 1533, 8460, 3540, 3998, 5500, 2459, 2270,
       6909, 2483, 7654, 1945, 6594,  364, 4859, 5420, 4377, 2676, 4737,
       4660, 4748, 2713, 5282, 8994, 4855,  996, 2934, 9819, 7164, 2454,
       1010, 2696, 3558, 3314, 5961, 7780, 6587, 5280, 9677, 9709, 4545,
       2981, 3271, 5644, 2779, 3190, 1552, 7141, 7448, 5653, 9696, 5431,
       6563,  491, 1681, 6660, 8953,  850, 1376, 9206, 9039, 3663, 1477,
       9982, 6076, 5107, 8295, 1151, 9699,  540, 3381, 2158, 2665,   69,
       2087, 2883, 4197, 9160, 6202, 6959, 9472, 9403, 6658, 4223,  291,
       6070, 6796, 2899, 3018, 8810, 7900, 1877, 5619, 4176, 5825, 2634,
       2355, 6243, 3446, 6480, 4739, 8518, 1026, 2617, 2268, 1852, 1627,
        409, 9193, 9392,  453, 7972, 6286, 3478, 7637, 2648, 2897, 5065,
       4146, 8026, 2234, 9053,  997, 7380, 6569, 3743, 6802, 5141, 4255,
       4474, 2948, 4017, 3830, 6521, 8592, 6851, 2880, 3686, 5701,  280,
       7248,  233, 2987, 3311, 3745, 9312, 2369, 8567, 4366,   33,  609,
       1392,   21, 1781, 6910, 8335, 1724, 4089, 6365, 8995, 7476,  125,
       2480, 2061, 5125,  893, 5878, 8847,  715,  496, 3510, 3377, 3255,
       5066, 4656, 4113, 6570, 3862,  165, 3990, 9360, 6222, 3260, 7193,
        259, 1272, 1312, 4966, 7879, 3864, 3704, 3753, 4189, 5473, 7579,
       4710, 7418, 7823, 7783, 9483, 3202, 2004, 7878, 7406, 4096, 2840,
       5556, 3472, 2513, 4220, 4083, 1959, 3098, 9377, 8719, 7347, 7528,
       3645, 1749, 9479, 7723, 3479, 6927, 6486, 7420, 9942, 9872, 4025,
       1399, 4595, 8490, 3839, 4056, 1024, 9752, 1449, 7794, 4981, 7891,
       9209,  634, 1575, 8314, 4238, 4064, 8705, 8274, 8673, 3313, 1810,
       1759, 1202, 1938, 9033,  606, 5098, 2058, 4555, 3731, 7593,  500,
       1931, 4250, 8323, 9162, 8462, 3169, 4347,  324, 3312, 8900,  340,
       1077, 7979, 1576, 4027, 5656, 7161, 6520, 5264, 3252, 7858, 1379,
        410, 7925, 4115, 5584, 9270, 8949,  274, 3960, 3432,  159, 1541,
       7178, 9353, 4535, 5572, 8587, 7573, 6412, 7991,  539, 2933, 8146,
        236, 6876, 9793, 3904, 3450, 8678, 9720, 3071, 3849, 9338, 5602,
       9492, 3660, 9283, 7375, 8205, 6539, 3250, 2084,  219, 5103, 8407,
       2565,  973, 6691, 7174, 3889,  264, 8831, 2989, 9051, 3421, 2171,
        877, 4721, 3339, 9856, 1739, 2556, 6046, 1833, 6879,  367, 1916,
       2661, 6801, 5543, 3781,   76, 4262, 5466, 6931, 1838, 2216, 2739,
       6359, 4077, 6322, 4612, 8185, 6809, 2051, 5538, 1215, 4051, 3401,
       9323, 5754, 9173, 6847,  879,  356, 2011, 3442, 3462, 2735, 9022,
       7426, 9601, 7322, 6410, 9374,   79, 2918, 3812,  869, 8895,  624,
       9395, 3236, 4361, 2359, 4671, 5183, 3227, 3974, 6898, 8153, 5566,
       1300, 1783,  902, 9389, 1897, 3533, 1946, 3415, 6261, 7439, 5633,
       7920, 2165, 6694, 7266, 2476, 1304, 2164, 8750,  592, 2094, 1487,
       9001, 5618, 6465, 8538, 5786, 4807, 6762, 3200, 9718,  207, 2076,
       2847, 8959, 9320, 1307, 8887, 2206, 1765, 1621, 2979, 7898, 4720,
       3269, 5073, 6271, 2641, 1172, 8543, 2408, 4713, 1240,  568, 4823,
       7082, 4418, 2042, 4999, 7924, 1619, 5172, 8899, 8615,  922, 1475,
       5053, 2905, 2827, 6268, 7707, 2693, 2217,  427, 5046, 5818, 4544,
        115, 4589, 7969, 6278, 2527, 5934, 4186, 5067, 6063,  191,  171,
       8330, 2850, 1822, 1322,  970, 1323, 7903,  761, 3557, 5607, 7567,
        226, 7663, 9278, 4257, 2546, 4845, 9460, 3944, 4412, 7625, 2993,
       3064, 8961, 3551, 8822, 8813, 4203, 4514, 5722, 6852, 5752, 9002,
       1467,  856, 3505, 4707, 9169, 4750, 1823,  774,  176,  618, 1771,
        852, 8604, 1420, 2677,  189, 1652, 8452, 5707, 3782, 7670,  187,
       3131, 9664, 4134, 8068, 2775, 6469, 9101, 5516, 5440, 8632, 3340,
       2939, 4416,   16, 5237, 2280, 3386, 2923, 7699, 1209, 5615, 5970,
       7258, 9328, 3979, 2077, 2824, 5375, 1336, 3874, 4061,  665,  785,
       7460, 5746, 7425, 8038,   70, 9999, 7835, 8826, 7954, 9094, 2615,
       2228,  489, 8369, 7297, 9508, 3345, 8926, 9908, 2882, 8024, 8698,
       4778, 8476, 9179, 1175, 3958, 8060, 5265, 9272, 1095, 5947,  502,
       6505, 7091, 6716, 8491, 1001, 7989, 2683, 1153, 5682, 5113, 6312,
       5336, 2062, 6493, 7122, 2542, 2256, 1917, 7555, 6267, 4631, 9839,
       4443, 1894, 3762, 7960, 1184, 4337, 3187, 2183, 1983, 5365, 7050,
        820, 5743, 2928, 6061,  920, 2964, 9246, 9098, 7132, 1530, 9052,
       8721, 9506, 6011, 6962,  944,  689, 7283, 2384, 5221, 1628, 6820,
       1035, 9822,  809, 4135, 5498, 1057, 2768, 2346, 1518, 1012, 9266,
         45, 3986, 2603, 4296, 6836, 1995, 7451, 5194, 6905, 8061,  411,
       6904, 3286, 1987,  300, 5088, 5728, 3116,  928, 6747, 9994, 2479,
       3729, 9496, 8160, 8763, 2740,  752, 3921, 8134, 7219, 3451, 1037,
       9113, 6838,   23, 6795, 2434, 5157, 4404, 2748, 3520,  188, 4672,
       6443, 6388, 6227, 5000, 3240, 6857, 7372,  701, 7933,  371, 7220,
       8716, 6370, 2600, 2551, 4875, 6232, 8832,  205, 3973, 8138, 6649,
        712, 1485, 2544, 1982, 2803, 6912, 5092, 4426, 8570, 6882, 1003,
        985, 6715,  338, 4794, 2254, 9795, 2300, 5396, 1735, 5854, 5505,
       2699, 6753, 4258, 3733, 5726, 8371, 2468, 5383, 5472, 9466, 8493,
        510, 3504, 2235, 1631, 3535, 9250, 7845, 8263, 2567, 3418, 7624,
       2023, 3063,  883, 7263, 5180, 6920, 1913, 9478, 3687, 5006, 2342,
       4735, 1865, 4335, 3126, 3020, 4490,  959, 4284, 1239, 2782, 2772,
       3900, 6025, 4590, 6651, 5560, 4276,   10, 1832, 2100, 1996, 3491,
       9938, 9141, 6397, 6231, 1855, 5868, 7515, 8416, 5421, 5204, 1786,
       9907, 9782,  588, 2224, 9216, 5186, 5303, 4346, 2915, 6166, 3248,
       6572, 9919, 1089, 6922, 7634,  337, 4326, 6311, 1569, 7615],
      dtype=int64)

In [11]:
cfs.to_numpy().copy(order="C")

array([[-3.67365295e+02,  5.14608774e+02,  4.13255585e+02, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-1.02841008e+02, -1.44565183e+02, -8.25021449e+01, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 9.92323947e+02,  7.98687669e+02,  6.17539468e+02, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       ...,
       [ 2.45460382e+02,  1.26028944e+02,  9.37756375e-01, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 2.32142850e+02,  2.32354098e+02,  1.96737622e+02, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [-3.57886461e+01, -6.33621487e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00]])

In [12]:
#pvs = pd.read_excel('pvs.xlsx', index_col=0)

In [13]:
#pvs

In [14]:
#pvs.index = cfs.index

* The cashflows of representative model points by cluster: rep_cfs
* The sum of the cashflows of model points by cluster: agg_cfs

rep_cfs:
- (closest+1) : rep_ids

agg_cfs: 
- add labels to cfs as cluster_id: cfs_with_cluster_id
- aggregate by cluster_id and sort: agg_cfs_by_cluster

In [26]:
rep_ids = pd.Series(data=(closest+1))
rep_ids.name = 'policy_id'
rep_ids = rep_ids.to_frame()
rep_ids

     policy_id
0         5731
1          286
2         4464
3         1899
4         4509
..         ...
995        337
996       4326
997       6311
998       1569
999       7615

[1000 rows x 1 columns]

In [63]:
rep_cfs = pd.merge(rep_ids, cfs.reset_index(), how='left', on='policy_id')
rep_cfs

,policy_id,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,5731,8.272583,-1.897052,-7.582040,-13.425207,-19.441088,-25.645453,-32.055415,-38.689552,-45.568037,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
1,286,2191.645360,1965.844391,1731.438770,1487.472589,1232.906829,966.612712,687.364921,393.834850,84.584071,...,-798.292542,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
2,4464,-26.629037,714.758173,571.482536,436.273063,298.586448,186.985068,120.360679,50.929699,-21.589737,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
3,1899,0.000000,-617.868684,528.498747,2099.775676,1835.182495,1605.525598,1391.300632,1211.523597,1086.998112,...,216.829977,45.095106,-136.373059,-328.496675,-532.258551,-748.699993,-978.916163,-647.714627,0.0,0
4,4509,755.596805,621.771309,485.715987,400.389914,330.874493,258.588382,183.239984,104.511583,22.056936,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,337,690.288458,1177.116645,1019.835777,880.682622,746.312951,656.954171,590.080475,521.158595,449.960846,...,-40.535165,-135.976831,-236.417498,-342.349165,-454.308004,-162.772899,0.000000,0.000000,0.0,0
996,4326,7.295449,-174.693775,-367.106057,-570.949207,-99.786679,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
997,6311,650.891190,541.433427,490.496238,438.250190,384.549162,329.234656,272.134596,213.062022,151.813649,...,-275.240618,-322.141565,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
998,1569,301.140943,257.289146,211.636836,163.989883,114.137116,61.848933,6.875870,-51.052841,-112.230689,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
999,7615,-435.290321,-118.380915,375.669463,298.227384,225.660797,152.491741,90.564312,58.364796,24.984955,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0

In [58]:
cfs_with_cluster_id = cfs.copy()
cfs_with_cluster_id.insert(0, 'policy_count', 1)
cfs_with_cluster_id.insert(0, 'cluster_id', kmeans.labels_)
cfs_with_cluster_id= cfs_with_cluster_id.set_index('cluster_id')
cfs_with_cluster_id

,policy_count,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
cluster_id,,,,,,,,,,,,,,,,,,,,,
572,1,-367.365295,514.608774,413.255585,319.555720,226.500096,131.168604,85.914865,38.784532,-10.411359,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
264,1,-102.841008,-144.565183,-82.502145,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
129,1,992.323947,798.687669,617.539468,434.993334,265.921529,172.069076,73.950450,-28.867255,-81.248668,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
427,1,61.039992,41.629916,21.592519,0.866730,-20.613790,-42.921153,-66.133793,-90.337072,-115.623946,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
668,1,116.388534,89.353763,74.260573,58.798121,42.932719,26.627806,9.843700,-7.462671,-25.338070,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,1,168.414190,6.578313,-163.583543,-342.902170,-532.281805,-732.705806,-848.272656,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
72,1,-68.753737,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
445,1,245.460382,126.028944,0.937756,-130.383268,-268.555545,-414.256294,-568.223248,-584.244494,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
731,1,232.142850,232.354098,196.737622,164.051261,130.826418,114.665909,99.708969,84.328690,68.479162,...,-39.58931,-60.391855,-82.209338,-105.140233,-129.291979,-10.845324,0.0,0.0,0.0,0
72,1,-35.788646,-6.336215,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0

In [60]:
agg_cfs_by_cluster = cfs_with_cluster_id.groupby(cfs_with_cluster_id.index).agg(sum)
agg_cfs_by_cluster

,policy_count,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
cluster_id,,,,,,,,,,,,,,,,,,,,,
0,85,697.521242,245.431706,-426.810723,-1085.832511,-1771.846117,-2445.609272,-3123.039060,-3826.683691,-4540.423080,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
1,1,2191.645360,1965.844391,1731.438770,1487.472589,1232.906829,966.612712,687.364921,393.834850,84.584071,...,-798.292542,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
2,7,-542.307478,4952.466934,3962.178601,3026.334044,2071.865863,1257.639303,767.381543,254.443415,-283.462238,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
3,2,0.000000,-1339.333902,1299.758435,4236.357305,3698.954526,3231.236204,2792.680073,2436.522413,2187.464738,...,455.531902,115.195405,-244.030503,-623.972565,-1026.591482,-1453.983062,-1908.375998,-1166.385067,0.0,0
4,10,7508.219354,6161.582023,4814.598915,3986.072787,3269.360376,2522.897742,1743.577326,928.021013,72.558242,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,690.288458,1177.116645,1019.835777,880.682622,746.312951,656.954171,590.080475,521.158595,449.960846,...,-40.535165,-135.976831,-236.417498,-342.349165,-454.308004,-162.772899,0.000000,0.000000,0.0,0
996,6,189.636289,-945.313731,-2143.301667,-3345.974503,-576.872724,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
997,5,3188.454896,2670.275987,2414.507154,2151.865247,1881.582831,1602.826848,1314.692302,1016.195325,706.265594,...,-1466.485933,-1544.500484,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
998,8,2360.328788,2020.134016,1666.480528,1297.925480,912.901528,509.707012,86.495969,-358.731800,-828.140303,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
999,8,-3501.074620,-933.530622,3162.998243,2512.867478,1902.592722,1285.834561,759.856174,478.966665,187.213089,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0

In [84]:
# agg_cfs_by_cluster['policy_count'].mult(rep_cfs)
mult_rep_cfs = rep_cfs[rep_cfs.columns[1:]].mul(agg_cfs_by_cluster['policy_count'], axis=0)
mult_rep_cfs

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,703.169543,-161.249440,-644.473431,-1141.142593,-1652.492475,-2179.863512,-2724.710315,-3288.611932,-3873.283151,-4480.586961,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
1,2191.645360,1965.844391,1731.438770,1487.472589,1232.906829,966.612712,687.364921,393.834850,84.584071,-241.941676,...,-798.292542,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
2,-186.403257,5003.307214,4000.377754,3053.911438,2090.105136,1308.895476,842.524754,356.507891,-151.128162,-263.749411,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
3,0.000000,-1235.737369,1056.997495,4199.551351,3670.364989,3211.051196,2782.601265,2423.047194,2173.996224,1915.190151,...,433.659955,90.190211,-272.746117,-656.993351,-1064.517102,-1497.399986,-1957.832326,-1295.429255,0.0,0
4,7555.968048,6217.713092,4857.159869,4003.899144,3308.744927,2585.883820,1832.399841,1045.115826,220.569356,-645.013034,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,690.288458,1177.116645,1019.835777,880.682622,746.312951,656.954171,590.080475,521.158595,449.960846,376.239634,...,-40.535165,-135.976831,-236.417498,-342.349165,-454.308004,-162.772899,0.000000,0.000000,0.0,0
996,43.772693,-1048.162651,-2202.636345,-3425.695243,-598.720074,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
997,3254.455952,2707.167137,2452.481190,2191.250948,1922.745812,1646.173280,1360.672978,1065.310109,759.068245,440.841436,...,-1376.203091,-1610.707827,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
998,2409.127543,2058.313167,1693.094688,1311.919062,913.096928,494.791467,55.006963,-408.422730,-897.845513,-1415.801742,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
999,-3482.322569,-947.047324,3005.355703,2385.819072,1805.286379,1219.933925,724.514497,466.918369,199.879639,-77.526785,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0

In [86]:
agg_cfs_by_cluster.to_excel('acc_cfs.xlsx')

mult_rep_cfs.to_excel('ref_cfs.xlsx')

In [88]:
agg_cfs_by_cluster

,policy_count,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
cluster_id,,,,,,,,,,,,,,,,,,,,,
0,85,697.521242,245.431706,-426.810723,-1085.832511,-1771.846117,-2445.609272,-3123.039060,-3826.683691,-4540.423080,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
1,1,2191.645360,1965.844391,1731.438770,1487.472589,1232.906829,966.612712,687.364921,393.834850,84.584071,...,-798.292542,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
2,7,-542.307478,4952.466934,3962.178601,3026.334044,2071.865863,1257.639303,767.381543,254.443415,-283.462238,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
3,2,0.000000,-1339.333902,1299.758435,4236.357305,3698.954526,3231.236204,2792.680073,2436.522413,2187.464738,...,455.531902,115.195405,-244.030503,-623.972565,-1026.591482,-1453.983062,-1908.375998,-1166.385067,0.0,0
4,10,7508.219354,6161.582023,4814.598915,3986.072787,3269.360376,2522.897742,1743.577326,928.021013,72.558242,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,690.288458,1177.116645,1019.835777,880.682622,746.312951,656.954171,590.080475,521.158595,449.960846,...,-40.535165,-135.976831,-236.417498,-342.349165,-454.308004,-162.772899,0.000000,0.000000,0.0,0
996,6,189.636289,-945.313731,-2143.301667,-3345.974503,-576.872724,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
997,5,3188.454896,2670.275987,2414.507154,2151.865247,1881.582831,1602.826848,1314.692302,1016.195325,706.265594,...,-1466.485933,-1544.500484,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
998,8,2360.328788,2020.134016,1666.480528,1297.925480,912.901528,509.707012,86.495969,-358.731800,-828.140303,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
999,8,-3501.074620,-933.530622,3162.998243,2512.867478,1902.592722,1285.834561,759.856174,478.966665,187.213089,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0

In [89]:
cfs_lapse50 = pd.read_excel('cf10000_lapse50.xlsx', index_col=0)

In [90]:
cfs_lapse50

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
policy_id,,,,,,,,,,,,,,,,,,,,,
1,-360.181106,477.015182,368.737730,277.701834,193.842081,111.106334,72.037415,32.197232,-8.533704,-42.730311,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
2,-102.306328,-142.364728,-80.654878,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
3,973.414713,755.666396,570.112920,396.102511,239.652874,153.520971,65.356863,-25.128748,-70.346466,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
4,60.777059,41.035793,21.079454,0.861795,-19.666365,-40.557404,-61.867202,-83.655459,-105.986049,-69.084707,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
5,115.896746,88.044880,72.429557,56.767393,41.032428,25.197138,9.232315,-6.893068,-23.212010,-39.759643,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,167.690619,6.547131,-159.443677,-330.885088,-508.422217,-692.744548,-794.259345,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
9997,-68.432313,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
9998,244.395816,124.246719,1.005717,-125.745458,-256.454593,-391.601247,-531.699028,-541.690217,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0
9999,226.510249,218.615016,179.937237,147.496484,116.417162,100.990384,86.921975,72.764913,58.486993,44.054117,...,-31.785231,-47.99532,-64.669739,-81.865855,-99.645246,-8.312672,0.0,0.0,0.0,0
10000,-35.611137,-6.268881,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0

In [91]:
rep_ids

     policy_id
0         5731
1          286
2         4464
3         1899
4         4509
..         ...
995        337
996       4326
997       6311
998       1569
999       7615

[1000 rows x 1 columns]

In [93]:
cfs_with_cluster_id_lapse50 = cfs_lapse50.copy()
cfs_with_cluster_id_lapse50.insert(0, 'policy_count', 1)
cfs_with_cluster_id_lapse50.insert(0, 'cluster_id', kmeans.labels_)
cfs_with_cluster_id_lapse50= cfs_with_cluster_id_lapse50.set_index('cluster_id')
cfs_with_cluster_id_lapse50
agg_cfs_by_cluster_lapse50 = cfs_with_cluster_id_lapse50.groupby(cfs_with_cluster_id_lapse50.index).agg(sum)
agg_cfs_by_cluster_lapse50

,policy_count,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
cluster_id,,,,,,,,,,,,,,,,,,,,,
0,85,693.284053,237.115828,-417.564234,-1043.516073,-1681.355793,-2297.022416,-2904.786511,-3524.076523,-4139.628379,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
1,1,2181.630203,1936.930733,1688.608725,1435.926699,1178.101173,914.299538,643.637096,365.174401,77.915062,...,-690.336627,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
2,7,-586.685445,4611.987083,3563.861171,2659.622182,1797.690824,1079.974641,652.485236,214.539922,-235.312064,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
3,2,0.000000,-1331.429331,1196.729139,3847.626521,3248.286869,2775.230163,2369.548416,2046.097594,1818.239272,...,356.312479,89.439130,-186.485394,-472.485199,-769.636277,-1079.063527,-1401.935389,-850.393162,0.0,0
4,10,7426.190746,5984.657380,4625.735363,3790.853635,3077.537179,2350.672282,1608.027497,847.227014,65.740758,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,664.100187,1101.759520,925.194683,783.215814,656.432628,571.884582,508.437255,444.478869,379.852126,...,-32.088163,-106.731932,-183.735557,-263.382056,-345.974751,-123.149363,0.000000,0.000000,0.0,0
996,6,189.442107,-930.564369,-2089.198718,-3228.900987,-553.119963,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
997,5,3173.884233,2630.815655,2354.572033,2077.058956,1797.665676,1515.746272,1230.616185,941.548485,647.769828,...,-1264.152533,-1319.050578,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
998,8,2349.564559,1990.455479,1625.308086,1253.024444,872.437780,482.307931,81.317064,-331.934168,-758.929753,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
999,8,-3493.018960,-931.716383,2888.506301,2215.518527,1638.293489,1092.843148,639.114113,398.856080,154.487242,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0

In [95]:
rep_cfs_lapse50 = pd.merge(rep_ids, cfs_lapse50.reset_index(), how='left', on='policy_id')
rep_cfs_lapse50
mult_rep_cfs_lapse50 = rep_cfs_lapse50[rep_cfs_lapse50.columns[1:]].mul(agg_cfs_by_cluster_lapse50['policy_count'], axis=0)
mult_rep_cfs_lapse50

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,701.599935,-158.291503,-627.851104,-1100.786527,-1578.027785,-2060.561986,-2549.438094,-3045.772166,-3550.753123,-4065.649085,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
1,2181.630203,1936.930733,1688.608725,1435.926699,1178.101173,914.299538,643.637096,365.174401,77.915062,-219.195742,...,-690.336627,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
2,-244.170045,4663.152620,3603.207702,2689.011737,1817.674797,1126.484777,717.902866,300.986425,-125.528698,-218.241487,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
3,0.000000,-1229.776979,969.628353,3820.535505,3226.936537,2759.815441,2361.994750,2035.654783,1807.820337,1576.396652,...,339.371526,70.135323,-208.550120,-497.709887,-798.411192,-1111.756863,-1438.875452,-944.658106,0.0,0
4,7468.775088,6030.427108,4660.738039,3802.351543,3110.254956,2406.115520,1687.829405,953.151069,199.681130,-575.146284,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,664.100187,1101.759520,925.194683,783.215814,656.432628,571.884582,508.437255,444.478869,379.852126,314.390098,...,-32.088163,-106.731932,-183.735557,-263.382056,-345.974751,-123.149363,0.000000,0.000000,0.0,0
996,44.301044,-1031.843759,-2147.009014,-3305.500020,-574.408800,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
997,3239.465600,2667.113990,2391.553009,2115.021959,1836.935850,1556.676783,1273.590680,986.983735,696.118554,400.209981,...,-1186.407512,-1375.161583,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
998,2398.004060,2027.929148,1651.111989,1266.373127,872.456782,468.025530,51.655171,-378.170016,-823.061373,-1284.728968,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0
999,-3474.688041,-942.784598,2744.361576,2103.394399,1554.443380,1036.815602,609.369794,388.799871,164.891229,-62.939791,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0

In [96]:
agg_cfs_by_cluster_lapse50.to_excel('acc_cfs_lapse50.xlsx')
mult_rep_cfs_lapse50.to_excel('ref_cfs_lapse50.xlsx')

In [98]:
model_point_orig = pd.read_excel('BasicTerm_ME_for_Cluster/model_point_table.xlsx', index_col=0)

In [100]:
model_point_orig['policy_count'] = 1
model_point_orig

,age_at_entry,sex,policy_term,policy_count,sum_assured,duration_mth
policy_id,,,,,,
1,47,M,10,1,622000,1
2,29,M,20,1,752000,210
3,51,F,10,1,799000,15
4,32,F,20,1,422000,125
5,28,M,15,1,605000,55
...,...,...,...,...,...,...
9996,47,M,20,1,827000,157
9997,30,M,15,1,826000,168
9998,45,F,20,1,783000,146
9999,39,M,20,1,302000,11
10000,22,F,15,1,576000,166

In [118]:
rep_model_points = model_point_orig.loc[rep_ids['policy_id']]
rep_model_points['policy_count'] = agg_cfs_by_cluster['policy_count'].to_numpy()
rep_model_points

,age_at_entry,sex,policy_term,policy_count,sum_assured,duration_mth
policy_id,,,,,,
5731,30,F,15,85,212000,55
286,54,F,20,1,969000,67
4464,47,F,10,7,869000,5
1899,56,M,20,2,619000,-19
4509,49,F,15,10,570000,33
...,...,...,...,...,...,...
337,44,F,20,1,908000,8
4326,55,F,15,6,539000,130
6311,39,F,20,5,841000,49
1569,52,M,20,8,211000,85
7615,41,F,10,8,725000,-8

In [119]:
rep_model_points.to_excel('model_point_cluster.xlsx')

In [120]:
rep_model_points['policy_count'] * dura

policy_id
5731    85
286      1
4464     7
1899     2
4509    10
        ..
337      1
4326     6
6311     5
1569     8
7615     8
Name: policy_count, Length: 1000, dtype: int64